@import '../../styles/_mixins';

.sidebar {
  &__nav {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: var(--sidebar-nav-gap);
    margin: 0 var(--sidebar-padding);

    &_item {
      position: relative;
      display: flex;
      align-items: center;
      height: var(--sidebar-nav-item-height);

      &:hover::before {
        left: -1.2rem;
      }

      &:hover span,
      &:hover svg {
        color: var(--cl-base);
      }

      &::before {
        @include blob;
      }
    }

    &_icon {
      width: 3rem;
      display: flex;
      justify-content: center;
      color: var(--cl-primary);

      & svg {
        transition: color var(--hover-transition) ease-in;
      }
    }

    &_link {
      transition: color var(--hover-transition) ease-in;
      font-weight: 500;
    }
  }
}
