.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 2rem 0;

  &__form {
    width: min(36rem, 100%);
    background: var(--bg-primary);
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & legend {
      font-size: 1.5rem;
      font-weight: bold;
    }

    & fieldset {
      border: none;
      display: flex;
      flex-direction: column;
    }

    & input {
      border: 1px solid var(--cl-primary);
      border-radius: 1rem;
      padding: 0.6rem 0.4rem;
      outline: none;
      background: transparent;
      color: white;
    }

    & label {
    }

    & button[type="submit"] {
      border-radius: 1rem;
      border: none;
      padding: 0.6rem 0.4rem;
      outline: none;
      background: var(--green-lt);
      color: white;
    }
  }

  &__btn {
    width: 100%;
    border: none;
    color: white;
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
  }

  &__strategies {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 1rem;
  }
}

.btn__icon {
  display: block;
  margin: 0 0.6rem;
  margin-bottom: -2px;
}

.btn_google {
  background: rgb(219, 68, 55);
}

.btn_github {
  background: #333;
}

.btn_default {
  background: #ddd;
  color: black;
}
