.nav {
  &__icons {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.6rem;
  }

  &__icon {
    cursor: pointer;
  }

  &__profile_image {
    width: 2.6rem;
    border-radius: 50%;
  }
}
