.navbar {
  height: var(--nav-height);
  background: var(--bg-primary);
  border-bottom: var(--bg-secondary) 1px solid;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &_left {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
